p Hi! You requested a reset for your password.
p Click the link to reset your password. The link will expire automatically in 24 hours.
= link_to 'Reset password', new_reset_password_url(token: @token)
